/* Дублируем переменные тёмной темы */
@media (prefers-color-scheme: dark) {
  :root {
    --back-color: #000028;
    --tittle-color: #db00ff;
    --tittle-shadow: #ff0070;
    --rec-color: #ff0070;
    --corners-color: #ff0070;
    --title-decor-bg: #ff0070;
    --title-decor-text: #000028;
    --button-color: #ff0070;
    --button-hover-color: #32312d66;
    --bg-img: url(../images/cover-image-dark.png);
  }
}

:root .theme_dark {
  /* Дублируем переменные для тёмной темы */
  --back-color: #000028;
  --tittle-color: #db00ff;
  --tittle-shadow: #ff0070;
  --rec-color: #ff0070;
  --corners-color: #ff0070;
  --title-decor-bg: #ff0070;
  --title-decor-text: #000028;
  --button-color: #ff0070;
  --button-hover-color: #32312d66;
  --bg-img: url(../images/cover-image-dark.png);
}

/* Остальные стили */
