/* Дублируем переменные светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --back-color: #fff1f7;
    --tittle-color: #ffc2e6;
    --rec-color: transparent;
    --corners-color: #353430;
    --title-decor-bg: #ff8dcb;
    --title-decor-text: #353430;
    --button-color: #353430;
    --button-hover-color: #ff007066;
    --text-color: #353430;
    --text-shadow: #ff8dcb;
  }
}

:root .theme_light {
  /* Переменные светлой темы */
  --bg-img: url(../images/cover-image-light.png);
  --back-color: #fff1f7;
  --tittle-color: #ffc2e6;
  --rec-color: transparent;
  --corners-color: #353430;
  --title-decor-bg: #ff8dcb;
  --title-decor-text: #353430;
  --button-color: #353430;
  --button-hover-color: #ff007066;
  --text-color: #353430;
  --text-shadow: #ff8dcb;
}

/* Остальные стили */
